body {
  font-size: 10px;
  background:url(Picture/TwoDogs.JPG) center center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 10px;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  line-height: 1.75;
}
h5 {
  font-size: 1em;
  line-height: 1.2;
}

.container {
  padding: 5em;
}

.title,
.subtitle {
  text-align: center;
  color: white;
}

.subtitle {
  margin-top: -1em;
}