        @import url(https://fonts.googleapis.com/css?family=Lato:400,900,300);
    @import 'https://fonts.googleapis.com/css?family=Cantarell:400,700';
    /* --------------------------------

00.GENERAL STYLES

-------------------------------- */
    
    * {
        outline: 0;
        padding: 0;
        margin: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    body {
        background: #fff;
        color: #777;
        font: 400 14px/1.8 'Cantarell', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        overflow-x: hidden;
    }
    /* #####  text  ##### */
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #000;
        font-family: 'Cantarell', sans-serif;
    }
    
    a:hover:after {
        width: 50%;
    }
    
    a:hover,
    a:focus {
        color: #000;
        text-decoration: none;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    p {
        color: #777;
        font-size: 15px;
        font-weight: 300;
    }
    
    main {
        width: 100%;
    }
    
    section {
        max-width: 768px;
        width: 100%;
        min-height: 500px;
    }
    img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }