/* COLORS */

$white: #FFFFFF;
$light-grey: #EFEFEF;
$gray__medium: #AEB3AB;
$main-blue: #0C1924;
$black: #111111;
$gray__dark: darken($gray__medium, 45%);
$gray__shadow: darken($gray__medium, 25%);
$gray__offwhite: lighten($gray__medium, 28%);