@import 'color';
/////////////////////////////
////////  common  ///////////
/////////////////////////////
.diamond {
  width: 5px;
  height: 5px;
  background-color: $main-blue;
  text-align: center;
  margin: 1em auto;
  transform: rotate(-45deg);
}

.line {
  display: block;
  border-top: 0.5px solid $gray__medium;
  width: 30px;
  margin: 1em auto;
  text-align: center;
  transform: rotate(-42deg);
}

.section-title {
  padding: 1em 0;
}

.text-button {
  border-bottom: 1px solid $main-blue;
  padding-bottom: 0.2em;
  font-weight: 600;
}

/////////////////////////////
//////// section-1///////////
/////////////////////////////
.text-box {
  max-width: 90%;
  margin: 5rem auto 0;
  &:last-child {
    margin-top: 2rem;
    padding-bottom: 4rem;
  }
}

/////////////////////////////
//////// section-2///////////
/////////////////////////////
.flower {
  fill: $main-blue;
  width: 25%;
}

.text-box__greeting {
  padding: 1em 0;
  font-size: 1.1em;
  &:last-child {
    font-weight: 500;
  }
}

// .swipe {
//   overflow: hidden;
//   position: relative;
// }
// .swipe-wrap {
//   overflow: hidden;
//   position: relative;
// }
// .swipe-wrap>div {
//   float: left;
//   width: 100%;
//   position: relative;
// }
/////////////////////////////
//////// section-3///////////
/////////////////////////////
.swipe {
  margin-bottom: 1em;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  height: auto;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination {
  &-bullet {
    width: 6px !important;
    height: 6px !important;
    background: $white !important;
    opacity: 0.4 !important;
    &-active {
      opacity: 1 !important;
    }
  }
}

/////////////////////////////
//////// section-4///////////
/////////////////////////////
.location-info {
  margin: 3em 0;
  color: $gray__dark;
  font-family: 'Noto Sans KR' !important;
}

.share-button {
  margin: 2em 0;
  padding: 1em 0;
  text-align: center;
  border-top: 1px solid $main-blue;
  border-bottom: 1px solid $main-blue;
  font-weight: bold;
}

/////////////////////////////
////////  gallery ///////////
/////////////////////////////
.gallery-header {
  width: 100%;
  height: 520px;
  display: table;
  &-container {
    width: 100%;
    height: 90%;
    display: table-cell;
    vertical-align: middle;
    position: relative;
  }
  &-title {
    margin: 0;
    line-height: 1;
    left: 0;
    right: 0;
    top: 115px;
    text-align: center;
    position: absolute;
    font-size: 35px;
  }
  &-subtitle {
    font-size: 8px;
    color: #777;
    letter-spacing: 2.5px;
    font-weight: normal;
    margin-top: 5px;
  }
  .title-pic {
    width: 250px;
    height: 280px;
  }
}

.area-header {
  padding: 2em 0;
  &-title {
    font-size: 30px;
    font-weight: 400;
  }
  &-line {
    display: block;
    margin: 2em auto;
    height: 50px;
    border-left: 1px solid #111;
    width: 0%;
  }
  &-description {
    padding: 1em 0;
    width: 70%;
    margin: 0 auto;
    .caption {
      opacity: 0.5;
      font-size: 0.9em;
    }
  }
}

.pic {
  padding: 1em 0 4em;
  text-align: center;
  line-height: 0;
  &-100 {
    width: 100%;
  }
  &-80 {
    width: 85%;
    margin: 0 auto;
  }
  &-50 {
    width: 100%;
    display: flex;
    align-items: center;
    >div {
      width: 50%;
      &:first-child {
        margin-right: 0.2em;
      }
      &:last-child {
        margin-left: 0.2em;
      }
    }
  }
}

.demo-3 {
  --color-text: #fbd54a;
  --color-bg: #333;
  --color-link: #4d4f5f;
  --color-link-hover: #bfb5b5;
  --color-info: #fff;
  --color-main-bg: #24262d;
  --path-fill-1: #000000;
  --path-fill-2: #1d1d1f;
  --path-fill-3: #fbd54a;
  --color-title: #fff;
  --font-family-title: serif;
  --font-size-title: 5vmax;
  --font-weight-title: 400;
  --color-menu: #000000;
  --color-menu-hover: #fff;
  --font-family-menu: serif;
  --font-size-menu: 4vmax;
  --font-weight-menu: 400;
  --button-bg: #fff;
  --button-circle: #ada4a4;
  --button-line: #222;
}


/* Fade effect */

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}


/* Icons */

.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}

.icon--keyboard {
  display: none;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
  pointer-events: none;
}

.content--fixed a {
  pointer-events: auto;
}


/* Header */

.codrops-header {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
  align-self: start;
  grid-area: header;
  justify-self: start;
}

.codrops-header__title {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 0.75em 0;
}

.info {
  margin: 0 0 0 1.25em;
  font-style: italic;
  color: var(--color-info);
  font-weight: bold;
}

.github {
  display: block;
  align-self: end;
  grid-area: github;
  justify-self: start;
  margin: 0.5em;
}

.demos {
  position: relative;
  display: block;
  align-self: end;
  text-align: center;
  grid-area: demos;
  margin-bottom: 0.5em;
}

.demo {
  margin: 0 0.15em;
}

.demo:hover,
.demo:focus {
  opacity: 0.5;
}

.demo span {
  white-space: nowrap;
  text-transform: lowercase;
  pointer-events: none;
}

.demo span::before {
  content: '#';
}

a.demo--current {
  pointer-events: none;
}


/* Top Navigation Style */

.codrops-links {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 1em 0 0;
  text-align: center;
  white-space: nowrap;
}

.codrops-icon {
  display: inline-block;
  margin: 0.15em;
  padding: 0.25em;
}

.demo-title {
  color: var(--color-title);
  font-family: var(--font-family-title);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
}

.global-menu {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 100;
}

.demo-5 .global-menu {
  text-align: center;
}

.global-menu__item {
  color: var(--color-menu);
  font-family: var(--font-family-menu);
  font-size: var(--font-size-menu);
  font-weight: var(--font-weight-menu);
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
  display: block;
  margin: 0.25em 0;
  transition: transform 0.3s, opacity 0.3s;
  transition-timing-function: ease-in;
}

.global-menu__item--demo-2:nth-child(odd) {
  transform: translateY(-100%) rotate(10deg);
}

.global-menu__item--demo-2:nth-child(even) {
  transform: translateY(-100%) rotate(-10deg);
}

.global-menu__item--demo-3 {
  transition: transform 0.1s, opacity 0.1s;
  transform: translateY(100%);
  transition-timing-function: ease-out;
}

.global-menu__item--demo-4,
.global-menu__item--demo-5 {
  transition: transform 0.1s, opacity 0.1s;
  transition-timing-function: ease-out;
}

.global-menu__item--demo-4 {
  transform: translateX(40%);
}

.global-menu__item--demo-5:nth-child(odd) {
  transform: translateX(100%) rotate(10deg) scale(0.5);
}

.global-menu__item--demo-5:nth-child(even) {
  transform: translateX(100%) rotate(-10deg) scale(0.5);
}

.global-menu__item--demo-6 {
  transform: translateY(100%);
}

.global-menu__item:hover {
  color: var(--color-menu-hover);
}

.global-menu__item.is-opened {
  opacity: 1;
  transform: translateY(0) rotate(0);
  pointer-events: auto;
  transition-timing-function: ease;
}

.global-menu__item--demo-4.is-opened,
.global-menu__item--demo-5.is-opened {
  transform: translateX(0) rotate(0);
}

.global-menu__item--demo-4.is-opened {
  transition-timing-function: cubic-bezier(0.230, 1.000, 0.355, 1.400);
}

.global-menu__item:nth-of-type(1) {
  transition-delay: 0s;
}

.global-menu__item.is-opened:nth-of-type(1) {
  transition-delay: 0.85s;
}

.global-menu__item:nth-of-type(2) {
  transition-delay: 0.05s;
}

.global-menu__item.is-opened:nth-of-type(2) {
  transition-delay: 0.8s;
}

.global-menu__item:nth-of-type(3) {
  transition-delay: 0.1s;
}

.global-menu__item.is-opened:nth-of-type(3) {
  transition-delay: 0.75s;
}

.global-menu__item:nth-of-type(4) {
  transition-delay: 0.15s;
}

.global-menu__item.is-opened:nth-of-type(4) {
  transition-delay: 0.7s;
}


/* demo 3 */

.global-menu__item--demo-3.is-opened {
  transition-duration: 0.3s;
}

.global-menu__item--demo-3:nth-of-type(1) {
  transition-delay: 0s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(1) {
  transition-delay: 0.65s;
}

.global-menu__item--demo-3:nth-of-type(2) {
  transition-delay: 0s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(2) {
  transition-delay: 0.7s;
}

.global-menu__item--demo-3:nth-of-type(3) {
  transition-delay: 0s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(3) {
  transition-delay: 0.75s;
}

.global-menu__item--demo-3:nth-of-type(4) {
  transition-delay: 0s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(4) {
  transition-delay: 0.8s;
}


.shape-overlays {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
}

.shape-overlays.is-opened {
  pointer-events: auto;
}

.shape-overlays__path:nth-of-type(1) {
  fill: var(--path-fill-1);
}

.shape-overlays__path:nth-of-type(2) {
  fill: var(--path-fill-2);
}

.shape-overlays__path:nth-of-type(3) {
  fill: var(--path-fill-3);
}

.shape-overlays__path:nth-of-type(4) {
  fill: var(--path-fill-4);
}


.hamburger {
  width: 64px;
  height: 64px;
  display: block;
  position: relative;
  cursor: pointer;
  position: absolute;
  top: 2.25em;
  right: 2.25em;
  z-index: 110;
  border-radius: 50%;
  background-color: var(--button-bg);
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hamburger__line {
  width: 28px;
  height: 2px;
  overflow: hidden;
  position: absolute;
  z-index: 10;
}

.hamburger__line-in {
  width: 84px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

.hamburger__line-in::before,
.hamburger__line-in::after {
  width: 28px;
  height: 2px;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  background-color: var(--button-line);
}

.hamburger__line-in::before {
  left: -56px;
}

.hamburger__line-in::after {
  left: 0;
}

.hamburger__line--01,
.hamburger__line--02,
.hamburger__line--03,
.hamburger__line--cross01,
.hamburger__line--cross02 {
  left: 18px;
}

.hamburger__line--01 {
  top: 24.6px;
}

.hamburger__line--02,
.hamburger__line--cross01,
.hamburger__line--cross02 {
  top: 31px;
}

.hamburger__line--03 {
  top: 37.4px;
}

.hamburger__line--cross01 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger__line--cross02 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger__line {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger__line-in {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger__line-in::before,
.hamburger__line-in::after {
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hamburger__line-in--cross01,
.hamburger__line-in--cross02 {
  -webkit-transform: translateX(-33.3%);
  transform: translateX(-33.3%);
}

.hamburger__line-in--01 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.hamburger__line-in--02 {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.hamburger__line-in--02::before,
.hamburger__line-in--02::after {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.hamburger__line-in--03 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.hamburger__line-in--03::before,
.hamburger__line-in--03::after {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.hamburger__line-in--cross01 {
  -webkit-transition-delay: 0.0s;
  transition-delay: 0.0s;
}

.hamburger__line-in--cross02 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.hamburger__line-in--cross02::before,
.hamburger__line-in--cross02::after {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.hamburger.is-opened-navi .hamburger__line-in--01,
.hamburger.is-opened-navi .hamburger__line-in--02,
.hamburger.is-opened-navi .hamburger__line-in--03 {
  -webkit-transform: translateX(33.3%);
  transform: translateX(33.3%);
}

.hamburger.is-opened-navi .hamburger__line-in--cross01,
.hamburger.is-opened-navi .hamburger__line-in--cross02 {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.hamburger.is-opened-navi .hamburger__line-in--01 {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.hamburger.is-opened-navi .hamburger__line-in--02 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.hamburger.is-opened-navi .hamburger__line-in--03 {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.hamburger.is-opened-navi .hamburger__line-in--cross01 {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.hamburger.is-opened-navi .hamburger__line-in--cross02 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.hamburger:hover .hamburger__line-in::before,
.hamburger:hover .hamburger__line-in::after {
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}

.hamburger:hover .hamburger__line-in--01::before,
.hamburger:hover .hamburger__line-in--01::after,
.hamburger:hover .hamburger__line-in--02::before,
.hamburger:hover .hamburger__line-in--02::after,
.hamburger:hover .hamburger__line-in--03::before,
.hamburger:hover .hamburger__line-in--03::after {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.hamburger:hover .hamburger__line-in--cross01::before,
.hamburger:hover .hamburger__line-in--cross01::after,
.hamburger:hover .hamburger__line-in--cross02::before,
.hamburger:hover .hamburger__line-in--cross02::after {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

.hamburger.is-opened-navi:hover .hamburger__line-in--cross01::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross01::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross02::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross02::after {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.hamburger.is-opened-navi:hover .hamburger__line-in--01::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--01::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--02::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--02::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--03::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--03::after {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

@media screen and (min-width: 55em) {
  .icon--keyboard {
    position: absolute;
    right: 0.55em;
    bottom: -30%;
    display: block;
    width: 54px;
    height: 46px;
    fill: var(--color-link);
  }
  .demos {
    display: flex;
    padding-right: 80px;
    justify-self: end;
  }
  .demo {
    display: block;
    width: 17px;
    height: 17px;
    margin: 0 4px;
    border-radius: 50%;
    background: var(--color-link);
  }
  a.demo--current {
    background: var(--color-link-hover);
  }
  .demo span {
    position: absolute;
    line-height: 1;
    right: 100%;
    display: none;
    margin: 0 1em 0 0;
  }
  .demo--current span {
    display: block;
  }
}

@media screen and (max-width: 55em) {
  html,
  body {
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
  }
  .hamburger {
    position: fixed;
    top: 0.5em;
    right: 0.5em;
    transform: scale(0.75);
  }
  .content {
    height: auto;
    min-height: 0;
    padding-bottom: 10em;
    flex-direction: column;
  }
  .content--fixed {
    position: relative;
    z-index: 0;
    display: block;
    padding: 0.85em;
  }
  .codrops-header {
    flex-direction: column;
    align-items: center;
  }
  .codrops-header__title {
    font-weight: bold;
    padding-bottom: 0.25em;
    text-align: center;
  }
  .github {
    display: block;
    margin: 1em auto;
  }
  .codrops-links {
    margin: 0;
  }
}