@import 'color';
.text-box {
  max-width: 90%;
  margin: 5rem auto 0;
  &:last-child {
    margin-top: 2rem;
    padding-bottom: 4rem;
  }
}

.text-box__greeting {
  padding: 2em 0;
  font-size: 1.1em;
}

.line {
  display: block;
  border-top: 0.5px solid $main-blue;
  width: 30px;
  margin: 1em auto;
  text-align: center;
  transform: rotate(-40deg);
}