@import url('https://fonts.googleapis.com/css?family=Meddon');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i,900');
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


$fonts: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
$handwriting-font: 'Meddon', cursive;
$font-size__base: 1rem;
$font-size__small: 0.75rem;
$font-size__medium: 2rem;


/* FONT SIZES */
html {
  font-size: 16px;
  line-height: 1.7;
}

// body {
// 	font-family: $fonts;
// 	letter-spacing: -0.03em;
//   word-break: keep-all;
// }

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
  margin: 0;
}

/* LINKS */
a {
	color: inherit;
  outline: none;
}

/* HANDWRITING */
.title_handwriting {
  font-family: 'Meddon', cursive;
}